*{
    margin: 0px;
    padding: 0px;
    font-family: cursive;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(242, 242, 242);
}

.Nav{
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    width: 100%;
    margin: 15px 0px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    position: sticky;
    top: 0px;
}

.Nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 10px;
}

.Nav ul li{
    margin: 5px 15px;
    border-radius: 15px;
    padding: 10px;
     font-weight: 800;
    
}

.Nav ul li:hover{
  background-color: rgb(203, 203, 203);
  font-weight: 800;
  cursor: pointer;
}

#inp{
    padding: 5px 22px;
    
    }

.mainrow{
    display: flex;
    margin: 5px 25px;
}

.Addbtn{
 padding: 12px;
 background-color: rgb(0, 140, 255);
 border: none;
 color: white;
 cursor: pointer;
 
}

.crossicon{
    cursor: pointer;
}

.listItem{
    display: flex;
    justify-content: space-between;
    background-color: rgb(225, 225, 225);
    width: 200px;
    padding: 15px;
    margin: 10px 22px;

    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#hamburger{
    font-size: 30px;
    cursor: pointer;
}

#hamburger:hover{
    font-size: 40px;
    cursor: pointer;
}


.rowmain{
    display: flex;
  
    width: 100%;
    height: 100vh;
   
   justify-content: center;
}

.sidebarDefault{
  position: absolute;
  visibility: hidden;
  left: -80px;
  position: fixed;
  transform: scaleX(-0.01);
  transition: 0.9s;
  top: 0;
  width: 150px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 18px 0px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px;
  font-family: fantasy;
  gap: 15px;
    
  
}

.sidebar{
    top: 0;
   left: 0;
    visibility: visible;
    transform: scaleX(1);
    transition: 0.9s;
    float: left;
    position: fixed;
    width: 150px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 18px 0px;
    align-items: center;
    background-color: rgba(167, 167, 167, 0.953);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

.sidebar p{
    margin: 5px 0px;
    padding: 5px;
    font-family: fantasy;
    
}

.sidebar p:hover{
    background-color: rgb(185, 185, 185);
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.dropstyleDefault{
    display: none;
    visibility: hidden;
}

.dropstyle{
    display: flex;
    visibility: visible;
    flex-direction: column;
    position: absolute;
    padding: 10px 25px;
    font-size: 15px;
    gap: 5px;
    
    background-color: rgb(244, 244, 244); box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


.cards{

  display: flex;
  flex-wrap: wrap;
  margin: 5px 10px;
  padding: 15px;

}

.carditems{
    width: 150px;
    margin: 15px;
    background-color: rgb(216, 214, 214);
    background-color: rgb(244, 244, 244); box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card{
    display: flex;
    flex-direction: column;
    width: 100px;
    background-color: blue;
}

.apiimages{
    height: 120px;
}


@media (max-width: 500px) {

    * {

        font-size: 13px;

        
        
 
    }
    .Nav ul li{
        margin: 0px;
    }

}


/* .Nav ul{
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            gap: 10px;
        }
        
        .Nav ul li{
            margin: 5px 15px;
            border-radius: 15px;
            padding: 10px;
             font-weight: 800;
            
        } */